/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&family=Titillium+Web:wght@200;300&display=swap');

:root{
  --body-font: 'Circular', sans-serif;
}

body {
  background-color: #CF3629;
  font-family: var(--body-font);
  height: 100vh;

  color: #F5DF66;
  font-size: 4rem;

}
.chairman{
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}